<!DOCTYPE html>
<html lang="en">
    <%- include("./include/head.ejs") %>
<body>
    <%- include("./include/navbar.ejs") %>
    <div class="uk-container">
        <section class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@m">
                <img src="img/logo.svg" />
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-heading-small .uk-heading-small">
                        Hello There My Name is Joel Sandoval And
                        I love play Xenoblade 2.
                    </h2>
                    <p> 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>