<!DOCTYPE html>
<html lang="en">
    <%- include("./include/head.ejs") %> 
<body>
    <%- include("./include/navbar.ejs") %> 

    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <% posts.forEach(p => { %>
            <div class="uk-animation-toggle">
                <div class="uk-card uk-card-default uk-card-body uk-card-secondary uk-animation-shake">
                    <h1><%= p.title; %></h1>
                    <%= p.body; %>
                </div>
            </div>
        <% }); %> 
    </div>
</body>
</html>