<!DOCTYPE html>
<html lang="en">
    <%- include("./include/head.ejs") %> 
<body>
    <%- include("./include/navbar.ejs") %> 

    <div class="uk-container">
      
      <a href="/blog/new-post">
        <button class="uk-button button-primary">
          New Post
        </button>
      </a>
        <div class="uk-grid-match uk-grid-small" uk-grid>
          <% posts.forEach(p => {%>
            <!-- include a post article for each post -->
            <%- include('./include/blog/post', {post:p}) %>
              <% }); %>
        </div>
      </div>
</body>
</html>