<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= path %> </title>
    <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit.min.js"></script>
</head>
<body>
    <div class="uk-cover-container uk-height-medium">
        <img src="img/header.svg" alt="" uk-cover>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/"><img src="img/logo.svg"></a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/">Home</a></li>
                    <li> <a href="about">About</a></li>
                    <li> <a href="blog">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <% posts.forEach(p => { %>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h1><%= p.title; %></h1>
                    <%= p.body; %>
                </div>
            </div>
        <% }); %> 
    </div>
</body>
</html>