<article class="uk-article">
  <h1 class="uk-article-title"><a class="uk-link-reset" href="">
      <%= title %>
    </a></h1>
  <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
  <p>
    <%= body %>
  </p>
  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <a class="uk-button uk-button-text" href="#">Read more</a>
    </div>
    <div>
      <a class="uk-button uk-button-text" href="#">5 Comments</a>
    </div>
  </div>
</article>